
// Threadlist
.column-ThreadList {
  background-color: white;

  // Focused item
  .list-container {
    .list-item {
      &.focused {
        background-color: #000;
      }
    }
  }
}

// MessageList Sidebar
.column-MessageListSidebar {
  background-color: white;
}
